<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenAIONDPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenAIONDPS.Properties.Settings>
            <setting name="InstallDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\NCSoft\The Tower of AION\</value>
            </setting>
            <setting name="ChatLogPath" serializeAs="String">
                <value>C:\Program Files (x86)\NCSoft\The Tower of AION\Chat.log</value>
            </setting>
            <setting name="FavoriteMemberName01" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob01" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName02" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob02" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName03" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob03" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName04" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob04" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName05" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob05" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName06" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob06" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName07" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob07" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName08" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob08" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName09" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob09" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName10" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob10" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName11" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob11" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName12" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob12" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName13" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob13" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName14" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob14" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName15" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob15" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName16" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob16" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName17" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob17" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName18" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob18" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName19" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob19" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName20" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob20" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName21" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob21" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName22" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob22" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName23" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob23" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberName24" serializeAs="String">
                <value />
            </setting>
            <setting name="FavoriteMemberJob24" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveResultDirectory" serializeAs="String">
                <value />
            </setting>
        </OpenAIONDPS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
